DATABASE_URL=mysql://database_user:password@127.0.0.1:3306/database_name
# DB_PREFIX=wp_

WP_ENV=development
WP_HOME=http://example.com
WP_SITEURL=${WP_HOME}/wp

# WP Migrate Pro
WPMDB_LICENCE=

# S3 Uploads
S3_UPLOADS_BUCKET=
S3_UPLOADS_BUCKET_ENDPOINT_URL= # Scaleway configuration
S3_UPLOADS_KEY=
S3_UPLOADS_SECRET=
S3_UPLOADS_REGION=

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
